<template>
        <div class="app">
                <div>
                        <label>Tick length: </label>
                        <input type="number" v-model="tickLength" />
                </div>
                <div>
                        <label>Width: </label>
                        <input type="number" v-model="inputWidth" />
                </div>
                <div>
                        <label>Height: </label>
                        <input type="number" v-model="inputHeight" />
                </div>
                <div id="horizontal">
                        <button @click="init('random')">Random</button>
                        <button @click="init('2-7')">2-7</button>
                        <button @click="init('blank')">Clear</button>
                        <button @click="init('full')">Fill</button>
                </div>
                <div id="horizontal">
                        <button id="start" @click="running = true">Start</button>
                        <button id="pause" @click="running = false">Stop</button>
                </div>
                <canvas ref="canvas" @mousedown="clickOnCanvas($event.clientX, $event.clientY)" @mouseup="drawing = false" @mousemove="moveOnCanvas($event.clientX, $event.clientY)"></canvas>
                <p style="text-align: center;">
                        {{ tps.toPrecision(4) }} TPS
                </p>
        </div>
</template>

<script lang="ts">
import Vue from "vue";
import { Universe } from "./wasm_game_of_life";
import { memory } from "./wasm_game_of_life_bg";

const CELL_SIZE = 5;
const GRID_COLOR = "#CCCCCC";
const DEAD_COLOR = "#FFFFFF";
const ALIVE_COLOR = "#000000";

const DEAD = 0;
const ALIVE = 1;

const INITIAL_SIZE = 64;

interface Data {
  inputWidth: number;
  inputHeight: number;
  width: number;
  height: number;
  tickLength: number;
  universe: Universe;
  ctx: null | CanvasRenderingContext2D;
  accumulated: number;
  previous: number;
  tps: number;
  running: boolean;
  drawing: boolean;
}

export default Vue.extend({
  data(): Data {
    return {
      inputWidth: INITIAL_SIZE,
      inputHeight: INITIAL_SIZE,
      width: INITIAL_SIZE,
      height: INITIAL_SIZE,
      tickLength: 200,
      universe: Universe.new_blank(INITIAL_SIZE, INITIAL_SIZE),
      ctx: null,
      accumulated: 0,
      previous: performance.now(),
      tps: 0,
      running: false,
      drawing: false
    };
  },
  mounted() {
    this.init();
    requestAnimationFrame(this.renderLoop);
  },
  methods: {
    init(pattern: "blank" | "2-7" | "random" | "full" = "2-7") {
      this.width = this.inputWidth;
      this.height = this.inputHeight;

      if (this.ctx == null) {
        const canvas = this.$refs.canvas;
        if (!(canvas instanceof HTMLCanvasElement)) {
          throw new Error("canvas is not a canvas element");
        }

        this.ctx = canvas.getContext("2d");
        if (this.ctx == null) {
          throw new Error("Could not create 2D canvas context");
        }
      }

      switch (pattern) {
        case "random":
          this.universe = Universe.new_random(this.width, this.height);
          break;
        case "2-7":
          this.universe = Universe.new(this.width, this.height);
          break;
        case "blank":
          this.universe = Universe.new_blank(this.width, this.height);
          break;
        case "full":
          this.universe = Universe.new_full(this.width, this.height);
          break;
      }

      this.ctx.canvas.height = (CELL_SIZE + 1) * this.height + 1;
      this.ctx.canvas.width = (CELL_SIZE + 1) * this.width + 1;
    },
    drawGrid() {
      if (this.ctx == null) {
        throw new Error("Could not create 2D canvas context");
      }

      const ctx = this.ctx;

      ctx.beginPath();
      ctx.lineWidth = 1 / window.devicePixelRatio;
      ctx.strokeStyle = GRID_COLOR;

      for (let x = 0; x <= this.width; ++x) {
        ctx.moveTo(x * (CELL_SIZE + 1) + 1, 0);
        ctx.lineTo(x * (CELL_SIZE + 1) + 1, (CELL_SIZE + 1) * this.height + 1);
      }

      for (let y = 0; y <= this.height; ++y) {
        ctx.moveTo(0, y * (CELL_SIZE + 1) + 1);
        ctx.lineTo((CELL_SIZE + 1) * this.width + 1, y * (CELL_SIZE + 1) + 1);
      }

      ctx.stroke();
    },
    getIndex(row: number, col: number) {
      return row * this.width + col;
    },
    drawCells() {
      const cellsPtr = this.universe.cells();
      const cells = new Uint8Array(
        memory.buffer,
        cellsPtr,
        this.width * this.height
      );

      if (this.ctx == null) {
        throw new Error("Could not create 2D canvas context");
      }

      const ctx = this.ctx;

      ctx.beginPath();

      for (let row = 0; row < this.height; ++row) {
        for (let col = 0; col < this.width; ++col) {
          const index = this.getIndex(row, col);

          ctx.fillStyle = cells[index] == DEAD ? DEAD_COLOR : ALIVE_COLOR;
          ctx.fillRect(
            col * (CELL_SIZE + 1) + 1,
            row * (CELL_SIZE + 1) + 1,
            CELL_SIZE,
            CELL_SIZE
          );
        }
      }

      ctx.stroke();
    },
    renderLoop() {
      const now = performance.now();
      const delta = now - this.previous;
      this.previous = now;

      this.accumulated += delta;

      while (this.accumulated >= this.tickLength) {
        if (this.running) {
          this.universe.tick();
        }

        this.tps = 1000 / this.accumulated;
        this.accumulated -= this.tickLength;
      }

      this.drawGrid();
      this.drawCells();

      requestAnimationFrame(this.renderLoop);
    },
    canvasClickCell(x: number, y: number) {
      if (this.ctx == null) {
        throw new Error("Could not create 2D canvas context");
      }

      const boundingRect = this.ctx.canvas.getBoundingClientRect();

      const scaleX = this.ctx.canvas.width / boundingRect.width;
      const scaleY = this.ctx.canvas.height / boundingRect.height;

      const canvasLeft = (x - boundingRect.left) * scaleX;
      const canvasTop = (y - boundingRect.top) * scaleY;

      const row = Math.min(
        Math.floor(canvasTop / (CELL_SIZE + 1)),
        this.height - 1
      );
      const col = Math.min(
        Math.floor(canvasLeft / (CELL_SIZE + 1)),
        this.width - 1
      );

      return {
        col,
        row
      };
    },
    clickOnCanvas(x: number, y: number) {
      this.drawing = true;

      const { row, col } = this.canvasClickCell(x, y);
      this.universe.toggle_cell(row, col);
    },
    moveOnCanvas(x: number, y: number) {
      if (this.drawing) {
        const { row, col } = this.canvasClickCell(x, y);
        this.universe.revive_cell(row, col);
      }
    }
  }
});
</script>

<style scoped>
.app {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.app > * {
  margin: 10px 0;
}

horizontal {
  display: flex;
  flex-direction: row;
}
</style>

